@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  height: 100%;
  max-width: 1920px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #1E212C;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1250px;
  padding-left: 5px;
  padding-right: 5px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__top {
  background-color: #1E212C;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-info {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding: 11px 0px 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__top-number {
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.header__top-menu__active {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding: 11px 0px 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__top-menu__active__link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

.header__top-menu__active__link:not(:last-child) {
  margin-right: 32px;
}

.header__money-show {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__money-show-block {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 11px 60px 12px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.header__money {
  display: none;
}

.header__top-money__inner--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 100%;
  left: -2px;
  z-index: 10;
  padding: 8px 9px 8px 3px;
  background-color: #1E212C;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.header__money-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__money-item:not(last-child) {
  margin-bottom: 4px;
}

.header__flag {
  vertical-align: middle;
  margin-right: 12px;
}

.header__currency {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  width: 70px;
}

.header__btn-img {
  vertical-align: middle;
  display: inline-block;
  padding: 9px 2px 7.5px 0px;
}

.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 0px 12px;
}

.header__user-btn {
  background-color: transparent;
}

.header__user-img {
  width: 13.33px;
  height: 14.33px;
  margin: 2.5px 8px 2.5px 0px;
  vertical-align: middle;
  display: inline-block;
}

.header__user-link__login, .header__user-link__registration {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}

.header__user-link__registration::before {
  content: "/   ";
}

.header__middle {
  background-color: #fff;
  position: relative;
}

.header__middle-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__form-search {
  position: relative;
  width: 380px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  margin-right: 48px;
}

.header__search {
  display: inline-block;
  margin-top: 11px;
  margin-bottom: 12px;
  margin-left: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
  width: 300px;
}

.header__search::-webkit-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}

.header__search:-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}

.header__search::-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}

.header__search::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}

.header__search-btn {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 16px;
}

.header__middle-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__like {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__like-img {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.header__like-value {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}

.header__like::after {
  content: "";
  display: inline-block;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, white), color-stop(34%, #ececec), to(#fffffd));
  background: linear-gradient(0deg, white 1%, #ececec 34%, #fffffd);
  width: 1px;
  margin-left: 19.5px;
  margin-right: 19.5px;
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.header__cart-img {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.header__cart-value {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #03cea4;
  border-radius: 4px;
}

.header__bottom {
  background-color: #17696A;
  position: relative;
}

.header__bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__prev {
  background-color: transparent;
  padding: 2.67px 4.67px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.header__btn-prev {
  margin-right: 12px;
}

.header__bottom-info {
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__bottom__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 4px;
}

.header__bottom__text-underline {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
}

.header__next {
  background-color: transparent;
  padding: 2.67px 4.67px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.header__btn-next {
  margin-left: 12px;
}

.logo {
  padding: 31px 60px 31px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu {
  margin-left: 0px;
  margin-right: auto;
  padding-right: 15px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  color: #424551;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__link-sale {
  color: #ff4242;
}

.menu__active {
  position: absolute;
  z-index: -50;
  border-top: 1px solid #E5E8ED;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  opacity: 0;
}

.menu__active__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}

.menu__active__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.menu__active__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}

.menu__active__link--active {
  color: #ff4242;
}

.menu__active__lists {
  padding-top: 20px;
  color: #1E212C;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 1px;
  text-align: left;
  min-width: 180px;
}

.menu__active__lists:not(:last-child) {
  margin-right: 30px;
}

.menu__active__list:first-child {
  padding-top: 8px;
}

.menu__active__list:not(:last-child) {
  margin-bottom: 8px;
}

.menu__active__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__active__active__line {
  width: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, white), color-stop(50%, #ececec), to(#fffffd));
  background: linear-gradient(0deg, white 1%, #ececec 50%, #fffffd);
}

.menu__active__active__item {
  padding-top: 20px;
}

.menu__active__active__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
  margin-bottom: 16px;
  margin-top: 16px;
}

.menu__active__active__btn::after {
  background-image: url("../img/menu__active-line-next.png");
  content: '';
  display: inline-block;
  margin-left: 10px;
  margin-right: 14.33px;
  width: 12px;
  height: 7.33px;
}

.menu__active__active__btn {
  background-color: transparent;
  color: #17696a;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: center;
  padding-left: 24px;
  border: 1px solid #17696a;
  border-radius: 4px;
}

.menu__active__active__btn:hover {
  background-color: #92b9b9;
  color: #fff;
}

.menu__active--active {
  z-index: 50;
  opacity: 1;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.dark__theme {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(78, 73, 73, 0.781);
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.dark__theme_log {
  position: absolute;
  display: block;
  z-index: 10;
  width: 100%;
  height: 200%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.sign-in {
  height: 665px;
  width: 486px;
  position: absolute;
  top: 220%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sign-in__close {
  position: relative;
  padding-right: 24px;
  padding-top: 24px;
  margin-left: 438px;
  margin-top: 24px;
  margin-bottom: 4px;
}

.sign-in__title {
  margin-bottom: 24px;
}

.sign-in__subtitle {
  padding-bottom: 24px;
  padding-left: 48px;
  padding-right: 48px;
}

.sign-in__form {
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 24px;
}

.sign-in__email {
  margin-bottom: 20px;
}

.sign-in__email-input {
  margin-top: 4px;
  padding-left: 16px;
}

.sign-in__password {
  margin-bottom: 20px;
}

.sign-in__password-text {
  margin-top: 4px;
  padding-left: 16px;
}

.sign-in__eye {
  position: absolute;
  top: 40px;
  right: 14px;
}

.sign-in__checkbox {
  position: relative;
  display: inline-block;
  padding-right: 129px;
}

.sign-in__input-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.sign-in__checkbox-text {
  position: relative;
  padding: 0 0 0 28px;
  cursor: pointer;
}

.sign-in__input-checkbox:checked + .sign-in__checkbox-text:before {
  background: url("../img/check.svg") center center/10px 8px no-repeat, #17696A;
}

.sign-in__forgot-link {
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #17696a;
}

.sign-in__btn-wrapper {
  margin: 24px 0;
}

.sign-in__text-inner {
  color: #17696a;
}

.modal-window {
  border-radius: 4px;
  background-color: #fff;
  margin: 0 auto;
  opacity: 0;
  z-index: -40;
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in;
}

.modal-window__btn-close {
  background-color: transparent;
  display: block;
}

.modal-window__btn-close::after {
  content: '';
  display: inline-block;
  padding-left: 1px;
  width: 16px;
  position: absolute;
  bottom: 48%;
  left: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 2px solid #424551;
  border-radius: 1px;
}

.modal-window__btn-close::before {
  content: '';
  display: inline-block;
  padding-left: 1px;
  width: 16px;
  position: absolute;
  bottom: 48%;
  left: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-bottom: 2px solid #424551;
  border-radius: 1px;
}

.modal-window__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}

.modal-window__subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #787a80;
  text-align: center;
}

.modal-window__form {
  border-bottom: 1px solid #E5E8ED;
}

.modal-window__email {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
  display: block;
}

.modal-window__email-input {
  border: 1px solid #D7DADD;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 44px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.modal-window__email-input::-webkit-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: #9a9ca5;
}

.modal-window__email-input:-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: #9a9ca5;
}

.modal-window__email-input::-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: #9a9ca5;
}

.modal-window__email-input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: #9a9ca5;
}

.modal-window__password {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
  display: block;
  position: relative;
}

.modal-window__password-text {
  border: 1px solid #D7DADD;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 44px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.modal-window__password-text::-webkit-input-placeholder {
  color: #424551;
}

.modal-window__password-text:-ms-input-placeholder {
  color: #424551;
}

.modal-window__password-text::-ms-input-placeholder {
  color: #424551;
}

.modal-window__password-text::placeholder {
  color: #424551;
}

.modal-window__checkbox {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
  cursor: pointer;
}

.modal-window__checkbox-text {
  cursor: pointer;
}

.modal-window__checkbox-text::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #17696A;
  -webkit-transition: .2s;
  transition: .2s;
}

.modal-window__btn {
  display: block;
  background-color: transparent;
  height: 44px;
  background-color: #17696a;
  border-radius: 4px;
  padding: 0px 170px;
}

.modal-window__btn:hover {
  background-color: #094b4d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 4px 15px rgba(10, 10, 10, 0.468);
          box-shadow: 0px 4px 15px rgba(10, 10, 10, 0.468);
}

.modal-window__btn-text {
  display: block;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  text-align: left;
}

.modal-window__text {
  color: #424551;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.modal-window__text-inner {
  color: #17696a;
}

.social {
  padding: 24px 48px 27px 48px;
}

.social__items {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__with {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #787a80;
  text-align: center;
}

.social__item {
  width: 32px;
  height: 32px;
  background-color: rgba(120, 122, 128, 0.12);
  border-radius: 4px;
}

.social__link {
  position: relative;
}

.social__img {
  position: absolute;
  top: 8px;
  left: 10px;
  z-index: 1;
}

.social__item:not(:last-child) {
  margin-right: 12px;
}

.social__item:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(23, 105, 106, 0.12);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.social__item:hover path {
  fill: #17696A;
}

.sign-up {
  position: absolute;
  width: 486px;
  height: 851px;
  top: 268%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sign-up__close {
  position: relative;
  padding-right: 24px;
  padding-top: 24px;
  margin-left: 438px;
  margin-top: 24px;
  margin-bottom: 4px;
}

.sign-up__title {
  padding-bottom: 24px;
}

.sign-up__subtitle {
  padding-bottom: 24px;
  padding-left: 48px;
  padding-right: 48px;
}

.sign-up__form {
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 24px;
}

.sign-up__name {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
  display: block;
  margin-bottom: 20px;
}

.sign-up__name-input {
  border: 1px solid #D7DADD;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 44px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 16px;
}

.sign-up__name-input::-webkit-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: #9a9ca5;
}

.sign-up__name-input:-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: #9a9ca5;
}

.sign-up__name-input::-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: #9a9ca5;
}

.sign-up__name-input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  color: #9a9ca5;
}

.sign-up__email {
  margin-bottom: 20px;
}

.sign-up__email-input {
  margin-top: 4px;
  padding-left: 16px;
}

.sign-up__password-text {
  margin-top: 4px;
  padding-left: 16px;
}

.sign-up__eye {
  position: absolute;
  top: 40px;
  right: 14px;
}

.sign-up__checkbox {
  position: relative;
  display: inline-block;
  padding-right: 129px;
}

.sign-up__input-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.sign-up__checkbox-text {
  position: relative;
  padding: 0 0 0 28px;
  cursor: pointer;
}

.sign-up__input-checkbox:checked + .sign-up__checkbox-text:before {
  background: url("../img/check.svg") center center/10px 8px no-repeat, #17696A;
}

.sign-up__btn-wrapper {
  margin: 24px 0;
}

.sign-up__text-inner {
  color: #17696a;
}

.sign-in--active {
  opacity: 1;
  z-index: 40;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.sign-up--active {
  opacity: 1;
  z-index: 40;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.card {
  max-width: 352px;
  position: absolute;
  opacity: 0;
  top: 0%;
  right: 0%;
  z-index: -20;
  background-color: #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.card__wrapper {
  position: relative;
}

.card__value {
  padding-top: 32px;
  padding-left: 24px;
  margin-bottom: 24px;
}

.card__value-text {
  color: #1E212C;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.card__window-close {
  position: absolute;
  top: 0px;
  left: 290px;
  padding-top: 85px;
  cursor: pointer;
}

.card__item-line {
  width: 100%;
  height: 1px;
  background-color: #E5E8ED;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 16px 24px;
}

.card__item-img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-right: 16px;
}

.card__item-description {
  margin-right: 24px;
}

.card__item-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #1E212C;
  padding-bottom: 4px;
  display: inline-block;
}

.card__item-color {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #787a80;
}

.card__item-color-value {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}

.card__item-size {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #787a80;
}

.card__item-size-value {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}

.card__item-numb-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__item-number {
  width: 72px;
  height: 36px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  margin-right: 5px;
  margin-top: 5px;
}

.card__item-number[type=number] {
  padding-left: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.card__item-price {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}

.card__item-like-text {
  color: #1E212C;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}

.card__item-like-btn {
  background-color: transparent;
}

.card__item-delete {
  background-color: transparent;
}

.card__subtotal {
  padding: 20px 26px;
}

.card__subtotal-text {
  color: #787a80;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 154px;
}

.card__subtotal-price-currency {
  color: #424551;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
}

.card__subtotal-price {
  color: #424551;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
}

.card__item-checkout-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 24px 20px;
  height: 52px;
  background-color: #17696A;
  border-radius: 5px;
}

.card__item-checkout-btn-img {
  margin-left: 100px;
}

.card__item-checkout-btn-text {
  padding-left: 6px;
  padding-right: 100px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-align: center;
}

.card--active {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  opacity: 1;
  z-index: 20;
  overflow: auto;
  height: 100vh;
}

.main {
  background-color: #fff;
}

.hero-slider__item {
  position: relative;
}

.hero-slider {
  position: relative;
  max-height: 30%;
}

.hero-slider__item-img {
  display: block;
  max-width: 100%;
}

.hero-slider .slick-slider {
  position: relative;
}

.hero-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-slider .slick-list {
  overflow: hidden;
  position: relative;
}

.hero-slider .slick-arrow.slick-next.slick-prev {
  position: absolute;
}

.hero-slider .slick-arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 0;
  position: relative;
}

.hero-slider .slick-arrow.slick-next {
  background: url(../img/line-arrow.svg) no-repeat center center/18px 11px, rgba(255, 255, 255, 0.5);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 1%;
}

.hero-slider .slick-arrow.slick-prev {
  background: url(../img/line-arrow.svg) no-repeat center center/18px 11px, rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 1%;
}

.hero-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-slider .slick-dots {
  top: 66%;
  max-width: 1250px;
  right: 44%;
}

.hero-slider .slick-dots li:not(:last-child) {
  margin-right: 4px;
}

.hero-slider .slick-dots li {
  width: 178px;
  border-bottom: 2px solid #787a80;
  cursor: pointer;
}

.hero-slider .slick-dots li button {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #787a80;
  background-color: transparent;
  margin-bottom: 12px;
  opacity: 0.6;
  outline: 0;
}

.hero-slider .slick-dots li::before {
  content: '0';
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #787a80;
  background-color: transparent;
  opacity: 0.6;
  outline: 0;
}

.hero-slider .slick-dots .slick-active {
  border-bottom: 2px solid #424551;
}

.hero-slider .slick-dots .slick-active button {
  color: #424551;
  opacity: 1;
  outline: 0;
}

.hero-slider .slick-dots .slick-active::before {
  color: #424551;
  opacity: 1;
  outline: 0;
}

.hero {
  position: relative;
  margin-bottom: 556px;
}

.hero__header {
  position: absolute;
  z-index: 10;
  max-width: 1250px;
  top: 0;
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__container {
  max-width: 1250px;
  margin: 0 auto;
}

.hero__subtitle {
  margin-bottom: 12px;
}

.hero__title {
  margin-bottom: 60px;
}

.hero__btn-sale {
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #17696A;
  border-radius: 5px;
  background-color: transparent;
  margin-right: 25px;
}

.hero__btn-menswear {
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #17696A;
  border-radius: 5px;
  background-color: transparent;
}

.hero__list-img {
  position: relative;
  margin: 0 auto;
  max-width: 1250px;
}

.hero__list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: -95px;
  left: 0;
  z-index: 5;
}

.hero__item:not(:last-child) {
  margin-right: 30px;
}

.hero__item-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #1E212C;
}

.btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #17696A;
}

.btn:hover {
  background-color: #17696A;
  color: #fff;
}

.subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 1px;
  text-align: left;
  color: #1E212C;
  text-transform: uppercase;
}

.title {
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 94px;
  letter-spacing: 1px;
  text-align: left;
  color: #1E212C;
}

.arrivals__header {
  margin-bottom: 60px;
}

.arrivals__title {
  font-size: 46px;
  text-align: center;
  margin-bottom: 24px;
}

.arrivals__subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #787a80;
}

.arrivals__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #17696A;
}

.arrivals-slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.arrivals-slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrivals-slider__item {
  position: relative;
  cursor: pointer;
}

.arrivals-slider__item {
  margin-right: 30px;
}

.arrivals-slider__item:first-child {
  margin-left: 30px;
}

.arrivals-slider__rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
}

.arrivals-slider__stars {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  position: absolute;
  top: 0;
}

.arrivals-slider__input:not(:first-child) {
  margin-right: 2.58px;
}

.arrivals-slider__stars {
  position: absolute;
  right: 16px;
  top: 16px;
}

.arrivals-slider__star-img {
  margin-top: -1px;
  cursor: pointer;
}

.arrivals-slider__star-img:hover {
  stroke: #F89828;
  fill: #F89828;
}

.arrivals-slider__star-img:checked ~ .arrivals-slider__star-img:hover {
  stroke: #F89828;
  fill: #F89828;
}

.arrivals-slider__star-img:checked {
  stroke: #F89828;
  fill: #F89828;
}

.arrivals-slider__star-img:not(:first-child) {
  margin-right: 1.2px;
}

.arrivals-slider__img {
  border-radius: 10px;
}

.arrivals-slider__like {
  cursor: pointer;
  position: absolute;
  bottom: 88px;
  right: 16px;
  background-color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: center center;
     object-position: center center;
}

.arrivals-slider__like:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.arrivals-slider__like:active {
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.arrivals-slider__text {
  padding-left: 16px;
  padding-top: 16px;
}

.arrivals-slider__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
}

.arrivals-slider__price {
  color: #1E212C;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.arrivals-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrivals-slider .slick-list {
  overflow: hidden;
}

.arrivals-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 96px;
  cursor: pointer;
}

.arrivals-slider .slick-dots li button {
  background-color: #B3B7BC;
  border-radius: 10px;
  width: 30px;
  height: 3px;
  font-size: 0;
}

.arrivals-slider .slick-dots .slick-active button {
  cursor: pointer;
  background-color: #424551;
}

.arrivals-slider .slick-dots li:not(:last-child) {
  margin-right: 12px;
}

.collection__container {
  padding: 180px 30px 100px 30px;
}

.collection__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "item-1 item-2 item-2"   "item-3 item-3 item-4";
  grid-gap: 16px;
}

.collection__item:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item-1;
}

.collection__item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: item-2;
}

.collection__item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: item-3;
}

.collection__item:last-child {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item-4;
}

.collection__item {
  cursor: pointer;
}

.collection__item-wrapper {
  position: relative;
}

.collection__item-header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 60px;
  padding-left: 60px;
}

.collection__item-text {
  color: #1E212C;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.collection__item-title {
  color: #1E212C;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
  width: 390px;
}

.collection__item-btn {
  background-color: transparent;
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid #17696A;
  border-radius: 4px;
  color: #17696A;
}

.collection__item-img {
  height: 500px;
  width: 1;
  border-radius: 10px;
}

.collection__input-email {
  display: inline-block;
  border: 1px solid #9A9CA5;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 44px;
  margin-right: -3px;
  padding: 11px 0px 12px 16px;
  width: 162px;
}

.collection__input-email::-webkit-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #9A9CA5;
}

.collection__input-email:-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #9A9CA5;
}

.collection__input-email::-ms-input-placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #9A9CA5;
}

.collection__input-email::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #9A9CA5;
}

.collection__input-btn {
  display: inline-block;
  padding-left: 32px;
  padding-right: 32px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 20px;
}

.collection__hell {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #424551;
  width: 297px;
}

.label-form__text {
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #1E212C;
  margin-bottom: 8px;
}

.label-form__input-btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  background-color: #17696A;
}

.label-form__input-btn:hover {
  background-color: #77bcbd;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.countdown__title {
  color: #1E212C;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 79px;
}

.countdown__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.countdown__number:not(:last-child) {
  margin-right: 24px;
}

.countdown__time {
  color: #1E212C;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.countdown__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #1E212C;
}

.product__item {
  position: relative;
}

.product__like {
  position: absolute;
  top: 0;
  left: 0;
}

.product__item-title {
  color: #1E212C;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.product__item-price {
  color: #FF4242;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
/*# sourceMappingURL=style.css.map */